aiofiles==24.1.0
aiohttp==3.10.5
fastapi==0.115.6
librosa==0.10.2.post1
numpy==1.24.3
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
python-dotenv==1.0.1
simpleaudio==1.0.4
srt==3.5.2
uvicorn==0.32.1
websockets==13.1
